{% extends "layout.html" %}

{% block header %}
<section class="main-banner d-flex align-items-center">
  <div class="container-xl">
    <header class="pl-3">
      <h1 class=""><a class="text-white text-decoration-none" href="#">Expert Design</a></h1>
      <h6 class="text-white text-monospace">Porttitor mollisar lorem, at molestie arcu pulvinar ut. Proin ac fermentum est</h6>
      <div>
        <a href="#about" class="btn btn-primary border-0">Learn more</a>
        <a href="#about" class=""><i class="icon ion-md-arrow-down h4 d-block text-white mt-2"></i></a>
      </div>
    </header>
  </div>
</section>
{% endblock %}
