{% extends "partials/header_pages.html" %}

{% block content %}
<section id="contact" class="py-5">
  <div class="container">
    <div class="row mx-0 text-center">
      <h3 class="text-uppercase text-center w-50 mx-auto font-weight-bold">CONTACT US</h3>
      <p class="text-dark w-75 mx-auto text-center my-4 p-2">Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollisar lorem, at molestie arcu pulvinar ut. Proin ac fermentum est. Cras mi ipsum, consectetur ac ipsum</p>
    </div>

    <div class="row py-5">
      <div class="col-lg-6 ">
        <div class="py-2 px-4">
          <h2>Dont hesitate to contact us for any kind of information</h2>
          <p> +12 327 8976 2334</p>
        </div>
      </div>
      <div class="col-lg-6">
        <form action="">
          <div class="form-group"><label for="">Name *</label><input type="text" class="form-control"></div>
          <div class="form-group"><label for="">Email *</label><input type="email" class="form-control"></div>
          <div class="form-group"><label for="">How can we help?</label><textarea name="" id="" class="form-control"></textarea></div>
          <button class="btn btn-dark btn-lg">Send</button>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col mt-md-5">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d100949.24429313939!2d-122.44206553967531!3d37.75102885910819!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80859a6d00690021%3A0x4a501367f076adff!2sSan+Francisco%2C+CA%2C+USA!5e0!3m2!1sen!2sin!4v1472190196783" class="w-100" style="border:0" allowfullscreen=""></iframe>
      </div>
    </div>

  </div>
</section>
{% endblock %}
