{% extends "partials/header_primary.html" %}

{% block content %}

<!-- Start About -->
<section id="about" class="py-5">
  <div class="container-md">
    <div class="text-center">
      <h2 class="font-weight-bold">Integer porttitor mollisar</h2>
      <p class="text-muted py-2">Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollisar lorem, at molestie arcu pulvinar ut. Proin ac fermentum est. Cras mi ipsum, consectetur ac ipsum </p>
    </div>
    <div class="text-center h1 py-5">
      <div class="border border-secondary rounded-circle d-inline-block icon-border-circle">
        <i class="icon ion-md-settings text-primary "></i>
      </div>
      <div class="border border-secondary rounded-circle d-inline-block icon-border-circle mx-0 mx-md-5">
        <i class="icon ion-md-code text-primary "></i>
      </div>
      <div class="border border-secondary rounded-circle d-inline-block icon-border-circle">
        <i class="icon ion-md-copy text-primary "></i>
      </div>
    </div>
  </div>
</section>
<!-- End About -->

<!-- Start News -->
<section id="news">

  <!-- start news 1 -->
  <div class="row mx-0">

    <div class="col-lg-4 px-0">
      <img src="https://demo.w3layouts.com/demos_new/template_demo/08-01-2019/demo_Free/1969077679/web/images/g6.jpg" class="w-100" alt="">
    </div>

    <div class="col-lg-8 px-0 bg-primary">
      <div class="py-5 px-4 text-white">
        <h3 class="text-uppercase h4 text-monospace font-weight-bold">
          Integer porttitor mollisar
          <br>
          lorem, at molestie
        </h3>
        <p class="mt-4">Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollisar lorem, at molestie arcu pulvinar ut. Proin ac fermentum est.</p>
      </div>
    </div>

  </div>

  <!-- start news 2 -->
  <div class="row mx-0">
    <div class="col-lg-8 px-0 bg-white">
      <div class="py-5 px-4">
        <h3 class="text-uppercase h4 text-monospace font-weight-bold">
          Integer porttitor mollisar
          <br>
          lorem, at molestie
        </h3>
        <p class="mt-4">Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollisar lorem, at molestie arcu pulvinar ut. Proin ac fermentum est.</p>
      </div>
    </div>
    <div class="col-lg-4 px-0">
      <img src="https://demo.w3layouts.com/demos_new/template_demo/08-01-2019/demo_Free/1969077679/web/images/g2.jpg" class="w-100" alt="">
    </div>
  </div>

  <!-- start news 3 -->
  <div class="row mx-0">
    <div class="col-lg-4 px-0">
      <img src="https://demo.w3layouts.com/demos_new/template_demo/08-01-2019/demo_Free/1969077679/web/images/g4.jpg" class="w-100" alt="">
    </div>
    <div class="col-lg-8 px-0 bg-primary">
      <div class="py-5 px-4 text-white">
        <h3 class="text-uppercase h4 text-monospace font-weight-bold">
          Integer porttitor mollisar
          <br>
          lorem, at molestie
        </h3>
        <p class="mt-4">Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollisar lorem, at molestie arcu pulvinar ut. Proin ac fermentum est.</p>
      </div>
    </div>
  </div>

</section>
<!-- End News -->

<!-- Start Services-->
<section id="services" class="bg-secondary py-5">
  <div class="container py-lg-5">
    <div class="text-center">
      <h3 class="text-uppercase font-weight-bold text-dark text-monospace">Integer porttitor mollisar</h3>
      <p class="text-white w-90 mx-auto pt-2 my-4">Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollisar lorem, at molestie arcu pulvinar ut. Proin ac fermentum est. Cras mi ipsum, consectetur ac ipsum </p>
    </div>
    <div class="row row-cols-1 row-cols-md-2 text-white">
      <div class="col mt-4">
        <div class="card d-flex flex-row rounded-0 bg-comp border-0 py-lg-5">
          <i class="icon ion-md-stats h1 text-white-50 px-3 pt-3"></i>
          <div class="card-body pl-1">
            <h5 class="text-uppercase">Inagittis Lacg</h5>
            <p class="text-white-50 mb-0">Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollisar lorem, at molestie arcu pulvinar ut. Proin ac fermentum est. Cras mi ipsum, consectetur ac ipsum.</p>
          </div>
        </div>
      </div>
      <div class="col mt-4">
        <div class="card d-flex flex-row rounded-0 bg-comp border-0 py-lg-5">
          <i class="icon ion-md-notifications h1 text-white-50 px-3 pt-3"></i>
          <div class="card-body pl-1">
            <h5 class="text-uppercase">Inagittis Lacg</h5>
            <p class="text-white-50 mb-0">Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollisar lorem, at molestie arcu pulvinar ut. Proin ac fermentum est. Cras mi ipsum, consectetur ac ipsum </p>
          </div>
        </div>
      </div>
      <div class="col mt-4">
        <div class="card d-flex flex-row rounded-0 bg-comp border-0 py-lg-5">
          <i class="icon ion-md-stats h1 text-white-50 px-3 pt-3"></i>
          <div class="card-body pl-1">
            <h5 class="text-uppercase">Inagittis Lacg</h5>
            <p class="text-white-50 mb-0">Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollisar lorem, at molestie arcu pulvinar ut. Proin ac fermentum est. Cras mi ipsum, consectetur ac ipsum.</p>
          </div>
        </div>
      </div>
      <div class="col mt-4">
        <div class="card d-flex flex-row rounded-0 bg-comp border-0 py-lg-5">
          <i class="icon ion-md-notifications h1 text-white-50 px-3 pt-3"></i>
          <div class="card-body pl-1">
            <h5 class="text-uppercase">Inagittis Lacg</h5>
            <p class="text-white-50 mb-0">Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollisar lorem, at molestie arcu pulvinar ut. Proin ac fermentum est. Cras mi ipsum, consectetur ac ipsum </p>
          </div>
        </div>
      </div>
      <div class="col mt-4">
        <div class="card d-flex flex-row rounded-0 bg-comp border-0 py-lg-5">
          <i class="icon ion-md-stats h1 text-white-50 px-3 pt-3"></i>
          <div class="card-body pl-1">
            <h5 class="text-uppercase">Inagittis Lacg</h5>
            <p class="text-white-50 mb-0">Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollisar lorem, at molestie arcu pulvinar ut. Proin ac fermentum est. Cras mi ipsum, consectetur ac ipsum.</p>
          </div>
        </div>
      </div>
      <div class="col mt-4">
        <div class="card d-flex flex-row rounded-0 bg-comp border-0 py-lg-5">
          <i class="icon ion-md-notifications h1 text-white-50 px-3 pt-3"></i>
          <div class="card-body pl-1">
            <h5 class="text-uppercase">Inagittis Lacg</h5>
            <p class="text-white-50 mb-0">Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollisar lorem, at molestie arcu pulvinar ut. Proin ac fermentum est. Cras mi ipsum, consectetur ac ipsum </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Services -->

<!-- Start Team -->
<section class="py-5" id="team">
  <div class="container">
    <div class="row mx-0">
      <h3 class="mx-auto text-monospace font-weight-bold mb-0">Integer porttitor mollisar</h3>
      <p class="text-muted text-center my-4 pt-2">Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollisar lorem, at molestie arcu pulvinar ut. Proin ac fermentum est. Cras mi ipsum, consectetur ac ipsum.
      </p>
    </div>

    <div class="row row-cols-1 row-cols-md-3">
      <div class="col mt-4">
        <div class="card rounded-0 border-0 text-center">
          <img src="https://demo.w3layouts.com/demos_new/template_demo/08-01-2019/demo_Free/1969077679/web/images/team.jpg" alt="" class="card-img-top rounded-circle w-50 mx-auto">
          <div class="card-body">
            <h3 class="mt-3 mt-md-4 text-uppercase h6 font-weight-bold">
              <small class="d-block text-primary f-12">Designer</small>
               Jason Donoghue
            </h3>
            <p class="text-muted">Lorem Ipsum has been the industry's standard since the 1500s.</p>
            <a href="" class="btn btn-facebook text-white rounded-pill btn-sm f-12"><i class="icon ion-logo-facebook mr-2"></i>facebook</a><a href="" class="btn btn-twitter text-white rounded-pill btn-sm f-12 ml-2"><i class="icon ion-logo-twitter mr-2"></i>twitter</a></div>
        </div>
      </div>
      <div class="col mt-4">
        <div class="card rounded-0 border-0 text-center">
          <img src="https://demo.w3layouts.com/demos_new/template_demo/08-01-2019/demo_Free/1969077679/web/images/team1.jpg" alt="" class="card-img-top w-50 rounded-circle mx-auto">
          <div class="card-body">
            <h3 class="mt-3 mt-md-4 text-uppercase h6">
              <small class="f-12 text-primary d-block">Designer</small>
               Mariana Noe
            </h3>
            <p class="text-muted">Lorem Ipsum has been the industry's standard since the 1500s.</p>
            <a href="" class="btn btn-google-plus text-white rounded-pill btn-sm f-12"><i class="icon ion-logo-googleplus mr-2"></i>Google</a><a href="" class="btn btn-linkedin text-white rounded-pill btn-sm f-12 ml-2"><i class="icon ion-logo-linkedin mr-2"></i>Linkedin</a></div>
        </div>
      </div>
      <div class="col mt-4">
        <div class="card rounded-0 border-0 text-center">
          <img src="https://demo.w3layouts.com/demos_new/template_demo/08-01-2019/demo_Free/1969077679/web/images/team2.jpg" alt="" class="card-img-top rounded-circle w-50 mx-auto">
          <div class="card-body">
            <h3 class="mt-3 mt-md-4 text-uppercase h6 font-weight-bold">
              <small class="d-block text-primary f-12">Designer</small>
               Daniel Doe
            </h3>
            <p class="text-muted">Lorem Ipsum has been the industry's standard since the 1500s.</p>
            <a href="" class="btn btn-facebook text-white rounded-pill btn-sm f-12"><i class="icon ion-logo-facebook mr-2"></i>facebook</a><a href="" class="btn btn-twitter text-white rounded-pill btn-sm f-12 ml-2"><i class="icon ion-logo-twitter mr-2"></i>twitter</a></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End team-->

<!--Start Gallery-->
<section class="py-5" id="gallery">
  <div class="container">

    <div class="text-center">
      <h3 class="text-upercase text-monospace">Integer porttitor mollisar </h3>
      <p class="text-muted max-w-lg px-5 mx-auto my-4 f-14">Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollisar lorem, at molestie arcu pulvinar ut. Proin ac fermentum est. Cras mi ipsum, consectetur ac ipsum </p>
    </div>

    <div class="row row-cols-2 row-cols-md-3">
      <div class="col mt-4">
        <button class="border-0 bg-transparent rounded-0 p-0" data-toggle="modal" data-target="#photo1">
          <img src="https://demo.w3layouts.com/demos_new/template_demo/08-01-2019/demo_Free/1969077679/web/images/g1.jpg" alt="gallery img" class="img-fluid">
        </button>
        <div class="modal fade" id="photo1" tabindex="-1" aria-labelledby="photo1" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header border-bottom-0 pb-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <img src="https://demo.w3layouts.com/demos_new/template_demo/08-01-2019/demo_Free/1969077679/web/images/g1.jpg" alt="" class="img-fluid">
              </div>
              <div class="modal-footer border-top-0">
                <p class="text-dark">
                  Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col mt-4">
        <button class="border-0 bg-transparent rounded-0 p-0" data-toggle="modal" data-target="#photo2">
          <img src="https://demo.w3layouts.com/demos_new/template_demo/08-01-2019/demo_Free/1969077679/web/images/g2.jpg" alt="gallery img" class="img-fluid">
        </button>
        <div class="modal fade" id="photo2" tabindex="-1" aria-labelledby="photo1" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header border-bottom-0 pb-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <img src="https://demo.w3layouts.com/demos_new/template_demo/08-01-2019/demo_Free/1969077679/web/images/g2.jpg" alt="" class="img-fluid">
              </div>
              <div class="modal-footer border-top-0">
                <p class="text-dark">
                  Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col mt-4">
        <button class="border-0 bg-transparent rounded-0 p-0" data-toggle="modal" data-target="#photo3">
          <img src="https://demo.w3layouts.com/demos_new/template_demo/08-01-2019/demo_Free/1969077679/web/images/g3.jpg" alt="gallery img" class="img-fluid">
        </button>
        <div class="modal fade" id="photo3" tabindex="-1" aria-labelledby="photo1" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header border-bottom-0 pb-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <img src="https://demo.w3layouts.com/demos_new/template_demo/08-01-2019/demo_Free/1969077679/web/images/g3.jpg" alt="" class="img-fluid">
              </div>
              <div class="modal-footer border-top-0">
                <p class="text-dark">
                  Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col mt-4">
        <button class="border-0 bg-transparent rounded-0 p-0" data-toggle="modal" data-target="#photo4">
          <img src="https://demo.w3layouts.com/demos_new/template_demo/08-01-2019/demo_Free/1969077679/web/images/g4.jpg" alt="gallery img" class="img-fluid">
        </button>
        <div class="modal fade" id="photo4" tabindex="-1" aria-labelledby="photo1" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header border-bottom-0 pb-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <img src="https://demo.w3layouts.com/demos_new/template_demo/08-01-2019/demo_Free/1969077679/web/images/g4.jpg" alt="" class="img-fluid">
              </div>
              <div class="modal-footer border-top-0">
                <p class="text-dark">
                  Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col mt-4">
        <button class="border-0 bg-transparent rounded-0 p-0" data-toggle="modal" data-target="#photo5">
          <img src="https://demo.w3layouts.com/demos_new/template_demo/08-01-2019/demo_Free/1969077679/web/images/g5.jpg" alt="gallery img" class="img-fluid">
        </button>
        <div class="modal fade" id="photo5" tabindex="-1" aria-labelledby="photo1" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header border-bottom-0 pb-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <img src="https://demo.w3layouts.com/demos_new/template_demo/08-01-2019/demo_Free/1969077679/web/images/g5.jpg" alt="" class="img-fluid">
              </div>
              <div class="modal-footer border-top-0">
                <p class="text-dark">
                  Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col mt-4">
        <button class="border-0 bg-transparent rounded-0 p-0" data-toggle="modal" data-target="#photo6">
          <img src="https://demo.w3layouts.com/demos_new/template_demo/08-01-2019/demo_Free/1969077679/web/images/g6.jpg" alt="gallery img" class="img-fluid">
        </button>
        <div class="modal fade" id="photo6" tabindex="-1" aria-labelledby="photo1" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header border-bottom-0 pb-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <img src="https://demo.w3layouts.com/demos_new/template_demo/08-01-2019/demo_Free/1969077679/web/images/g6.jpg" alt="" class="img-fluid">
              </div>
              <div class="modal-footer border-top-0">
                <p class="text-dark">
                  Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col mt-4">
        <button class="border-0 bg-transparent rounded-0 p-0" data-toggle="modal" data-target="#photo7">
          <img src="https://demo.w3layouts.com/demos_new/template_demo/08-01-2019/demo_Free/1969077679/web/images/g7.jpg" alt="gallery img" class="img-fluid">
        </button>
        <div class="modal fade" id="photo7" tabindex="-1" aria-labelledby="photo1" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header border-bottom-0 pb-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <img src="https://demo.w3layouts.com/demos_new/template_demo/08-01-2019/demo_Free/1969077679/web/images/g7.jpg" alt="" class="img-fluid">
              </div>
              <div class="modal-footer border-top-0">
                <p class="text-dark">
                  Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col mt-4">
        <button class="border-0 bg-transparent rounded-0 p-0" data-toggle="modal" data-target="#photo8">
          <img src="https://demo.w3layouts.com/demos_new/template_demo/08-01-2019/demo_Free/1969077679/web/images/g1.jpg" alt="gallery img" class="img-fluid">
        </button>
        <div class="modal fade" id="photo8" tabindex="-1" aria-labelledby="photo1" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header border-bottom-0 pb-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <img src="https://demo.w3layouts.com/demos_new/template_demo/08-01-2019/demo_Free/1969077679/web/images/g1.jpg" alt="" class="img-fluid">
              </div>
              <div class="modal-footer border-top-0">
                <p class="text-dark">
                  Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col mt-4">
        <button class="border-0 bg-transparent rounded-0 p-0" data-toggle="modal" data-target="#photo9">
          <img src="https://demo.w3layouts.com/demos_new/template_demo/08-01-2019/demo_Free/1969077679/web/images/g2.jpg" alt="gallery img" class="img-fluid">
        </button>
        <div class="modal fade" id="photo9" tabindex="-1" aria-labelledby="photo1" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header border-bottom-0 pb-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <img src="https://demo.w3layouts.com/demos_new/template_demo/08-01-2019/demo_Free/1969077679/web/images/g2.jpg" alt="" class="img-fluid">
              </div>
              <div class="modal-footer border-top-0">
                <p class="text-dark">
                  Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<!--End Gallery-->

<!--Start Testimonials-->
<section class="py-5" id="testimonials">
  <div class="container">

    <div class="text-center">
      <h3 class="h4 text-uppercase text-monospace font-weight-bold">Integer porttitor mollisar </h3>
      <p class="text-muted my-4 pt-2 w-90 mx-auto">Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollisar lorem, at molestie arcu pulvinar ut. Proin ac fermentum est. Cras mi ipsum, consectetur ac ipsum </p>
    </div>

    <div class="row">
      <div class="col col-lg-6">
        <article class="row mx-0 p-5">
          <div class="col-md-4"><img src="https://demo.w3layouts.com/demos_new/template_demo/08-01-2019/demo_Free/1969077679/web/images/team1.jpg" alt="" class="rounded-circle"></div>
          <div class="col-md-8">
            <h3 class="h6 text-uppercase my-3">
              <small class="text-primary d-block f-12">Sub Title</small>
               Mariana Noe
            </h3>
            <p class="text-muted f-14">
              Lorem Ipsum has been the industry's standard since the 1500s. Praesent ullamcorper dui turpis.
            </p>
            <ul class="list-group list-group-horizontal">
              <li class="list-group-item border-0 text-white">
                <a href="#" class="btn bg-dark rounded-circle">
                  <i class="icon text-white ion-logo-facebook"></i>
                </a>
              </li>
              <li class="list-group-item border-0 ext-white">
                <a href="#" class="btn bg-dark rounded-circle">
                  <i class="icon text-white ion-logo-twitter"></i>
                </a>
              </li>
              <li class="list-group-item border-0 text-white">
                <a href="#" class="btn bg-dark rounded-circle">
                  <i class="icon text-white ion-logo-googleplus"></i>
                </a>
              </li>
            </ul>
          </div>
        </article>
      </div>
      <div class="col col-lg-6">
        <article class="row mx-0 p-5">
          <div class="col-md-4"><img src="https://demo.w3layouts.com/demos_new/template_demo/08-01-2019/demo_Free/1969077679/web/images/team1.jpg" alt="" class="rounded-circle"></div>
          <div class="col-md-8">
            <h3 class="h6 text-uppercase my-3">
              <small class="text-primary d-block f-12">Sub Title</small>
               Mariana Noe
            </h3>
            <p class="text-muted f-14">
              Lorem Ipsum has been the industry's standard since the 1500s. Praesent ullamcorper dui turpis.
            </p>
            <ul class="list-group list-group-horizontal">
              <li class="list-group-item border-0 text-white">
                <a href="#" class="btn bg-dark rounded-circle">
                  <i class="icon text-white ion-logo-facebook"></i>
                </a>
              </li>
              <li class="list-group-item border-0 ext-white">
                <a href="#" class="btn bg-dark rounded-circle">
                  <i class="icon text-white ion-logo-twitter"></i>
                </a>
              </li>
              <li class="list-group-item border-0 text-white">
                <a href="#" class="btn bg-dark rounded-circle">
                  <i class="icon text-white ion-logo-googleplus"></i>
                </a>
              </li>
            </ul>
          </div>
        </article>
      </div>
    </div>

  </div>
</section>
<!--End Testimonials-->
{% endblock %}
