<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- ionicons font-->
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

    <!-- style file css-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

    <title>Expert Design</title>
  </head>
  <body>

    <!-- Start nav -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent fixed-top">
      <div class="container">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle h3" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="icon ion-md-menu bg-dark-25 px-2 text-white"></i>
              </a>
              <div class="dropdown-menu position-absolute py-0 border-0 shadow-lg rounded-lg" aria-labelledby="navbarDropdown">
                <a class="dropdown-item text-center py-2" href="#">Home</a>
                <a class="dropdown-item text-center py-2" href="#about">About</a>
                <a class="dropdown-item text-center py-2" href="#">Team</a>
                <a class="dropdown-item text-center py-2" href="#">Services</a>
                <a class="dropdown-item text-center py-2" href="#">Gallery</a>
                <a class="dropdown-item text-center py-2" href="#">Testimonials</a>
                <a class="dropdown-item text-center py-2" href="#">Contact</a>
              </div>
            </li>
          </ul>
      </div>
    </nav>
    <!-- End nav-->

    {# start content #}
    {# end content #}

    <!-- Start footer -->
    <footer class="parallax pt-5">
      <div class="text-center">
        <h3 class="text-white text-uppercase font-weight-bold">Integer porttitor mollisar </h3>
        <p class="my-3 pt-2 text-white w-90 mx-auto px-5">
          Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollisar lorem, at molestie arcu pulvinar ut. Proin ac fermentum est. Cras mi ipsum, consectetur ac ipsum.
        </p>
      </div>
      <div class="text-center w-90 px-5 mx-auto pt-3 pt-md-5">
        <form action="" class="w-90 mx-auto px-md-5">
          <div class="form-row">
            <div class="col-10 pr-0">
              <label for="" class="d-none">email</label>
              <input type="text" class="form-control rounded-0">
            </div>
            <div class="col-2 pl-0">
              <button type="submit" class="btn btn-primary d-block w-100 rounded-0">
                <i class="icon ion-md-send"></i>
              </button>
            </div>
          </div>
        </form>
      </div>

      <div class="pb-5">
        <ul class="list-group list-group-horizontal d-flex justify-content-center">
          <li class="list-group-item border-0 bg-transparent"><a href="" class="text-white"><i class="icon ion-logo-facebook"></i></a></li>
          <li class="list-group-item border-0 bg-transparent"><a href="" class="text-white"><i class="icon ion-logo-twitter"></i></a></li>
          <li class="list-group-item border-0 bg-transparent"><a href="" class="text-white"><i class="icon ion-logo-googleplus"></i></a></li>
          <li class="list-group-item border-0 bg-transparent"><a href="" class="text-white"><i class="icon ion-logo-linkedin"></i></a></li>
        </ul>
        <p class="text-center text-white mb-4">© 2020 Exert Design. All rights reserved | Design by
                    </p>
      </div>

    </footer>
    <!-- End footer -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
